.angular-filemanager {
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }

    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }

  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes rotate {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes colors {
    0% {
      stroke: #4285F4;
    }

    25% {
      stroke: #DE3E35;
    }

    50% {
      stroke: #F7C223;
    }

    75% {
      stroke: #1B9A59;
    }

    100% {
      stroke: #4285F4;
    }
  }

  @keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
      stroke: red;
    }

    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
      stroke: yellow;
    }

    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
      stroke: green;
    }
  }

  @-webkit-keyframes dash {
    0% {
      stroke-dasharray: 1, 150;
      stroke-dashoffset: 0;
    }

    50% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -35;
    }

    100% {
      stroke-dasharray: 90, 150;
      stroke-dashoffset: -124;
    }
  }

  .animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .modal.animated, .animated.fast {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
  }

  .animated.slow {
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
  }

  .animated.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
  }

  .animated.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  .spinner-container {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    width: 65px;
    height: 65px;
  }

  .spinner-container .path {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
    stroke: #2196F3;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite, colors 5.6s ease-in-out infinite;
  }

  .modal {
    word-wrap: break-word;
  }

  .modal .label.error-msg {
    display: block;
    font-size: 12px;
    padding: 5px;
    margin-top: 10px;
    text-align: left;
  }

  .modal .label.error-msg > span {
    white-space: pre-wrap;
  }

  .modal .breadcrumb {
    margin: 0;
    background: #5E606B;
    font-size: 16px;
    max-height: inherit;
    padding: 0 10px;
    margin-bottom: 5px;
  }

  .modal-fullscreen .modal-dialog, .modal-fullscreen .modal-content {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .modal-fullscreen .modal-dialog {
    margin: 0;
    width: 100%;
  }

  .modal-fullscreen .modal-content {
    border: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    -o-box-shadow: inherit;
    box-shadow: inherit;
  }

  .modal-fullscreen textarea.code {
    min-height: 450px;
  }

  .modal img.preview {
    max-width: 100%;
    max-height: 640px;
    border-radius: 3px;
  }

  .modal img.preview.loading {
    width: 100%;
    height: 1px;
    opacity: 0;
  }

  .modal .modal-content {
    border-radius: 10px 10px 4px 4px;
  }

  .modal .modal-header {
    border-radius: 4px 4px 0 0;
    background: #e82729;
    padding: 1.3em;
  }

  .modal .modal-header .modal-title {
    font-size: 20px;
    line-height: 100%;
    color: #fff ! important;
    margin: 0;
  }

  .modal .modal-header .close {
    opacity: 1;
    color: #fff;
  }

  .modal .modal-header .close.fullscreen {
    font-size: 14px;
    position: relative;
    top: 4px;
    margin-right: .8em;
  }

  *, *:focus {
    outline: 0 ! important;
  }

  .navbar {
    background-color: #5E606B;
    min-height: 32px;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    color: #fff;
  }

  a {
    color: #848793
  }

  a:hover, a:focus {
    color: #5E606B
  }

  .navbar .navbar-collapse {
    overflow: visible;
    padding: 0;
  }

  .navbar .navbar-toggle {
    padding: 5px 10px;
  }

  .navbar .navbar-brand {
    font-size: inherit;
    height: 55px;
    line-height: 100%;
  }

  .btn.btn-default {
    color: #444;
    background-color: #FAFAFA;
  }

  .btn {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    font-weight: 500;
    letter-spacing: .01em;
    border: none;
    background-color: #f06e6f;
  }

  textarea.code {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 13px;
    min-height: 250px;
    resize: vertical;
    color: #000;
  }

  .sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }

  .sidebar {
    display: none;
    background: #fafafa;
    margin-top: 2px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
  }

  .btn-go-back {
    margin-top: -5px;
  }

  .nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
  }

  .nav-sidebar > li > a {
    color: #848793;
    padding: 7px 0 7px 16px;
  }

  .nav-sidebar > li > a:hover, .nav-sidebar > li > a:focus {
    background: none;
    color: #5E606B;
  }

  .nav-sidebar > li.active > a {
    color: #5E606B;
  }

  .main {
    overflow-y: auto;
    padding: 0;
    .page-header {
      margin-top: 0;
    }
  }

  .file-tree ul.nav.nav-sidebar {
    margin: 0;
    padding: 0;
    padding-left: 12px;
  }

  .file-tree ul.nav.nav-sidebar:first-child {
    padding-left: 0;
  }

  .file-tree ul.nav.nav-sidebar.file-tree-root > li {
    border-left: none;
    padding-left: 0;
  }

  .table td {
    vertical-align: middle;
  }

  #context-menu {
    position: absolute;
    display: none;
    z-index: 9999;
  }

  .iconset {
    padding: 10px;
  }

  .col-120 {
    width: 100px;
    max-height: 100px;
    float: left;
    margin-bottom: 9px;
    margin-right: 9px;
  }

  .col-120:last-child {
    margin-right: 0;
  }

  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .iconset .thumbnail {
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
    border: none;
    background: none;
  }

  .table-files .selected, .iconset .thumbnail.selected {
    background: #5E606B;
  }

  .iconset .thumbnail.selected, .table-files .selected td, .table-files .selected td a {
    color: #fff;
  }

  .iconset .thumbnail .item-icon {
    font-size: 32px;
  }

  .detail-sources {
    text-overflow: ellipsis;
    overflow: hidden;
    word-wrap: break-word;
  }

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
  }

  ::-webkit-scrollbar:hover {
    background-color: #eee;
  }

  ::-webkit-scrollbar-thumb {
    min-height: 0.8em;
    min-width: 0.8em;
    background-color: rgba(0, 0, 0, .2);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
  }

  ::-webkit-scrollbar-thumb:active {
    background-color: #888;
  }

  .upload-dragover .main {
    opacity: .4;
  }

  .upload-dragover:before {
    content: "\e198";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    color: #5E606B;
    font-size: 8em;
    font-family: 'Glyphicons Halflings', fantasy;
  }

  .upload-list {
    margin-top: 20px;
  }

  .spinner-wrapper {
    margin: 0 auto;
    text-align: center;
    margin-top: 8%;
  }

  a:hover, a:active, a:focus, table th > a:hover, table th > a:active, table th > a:focus {
    text-decoration: none;
  }

  .sortorder:after {
    color: #5E606B;
    content: '\25bc';
  }

  .sortorder.reverse:after {
    color: #5E606B;
    content: '\25b2';
  }

  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none ! important;
  }

  .mr2 {
    margin-right: 2px;
  }

  .mr5 {
    margin-right: 5px;
  }

  .mt10 {
    margin-top: 10px;
  }

  .mb0 {
    margin-bottom: 0;
  }

  .pointer {
    cursor: pointer;
  }

  .block {
    display: block;
  }

  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .bold {
    font-weight: bold;
  }

  @media (min-width: 768px) {
    .main {
      padding-right: 0;
      padding-left: 0;
    }

    > div, .row, .main, .sidebar {
      height: 100%;
    }

    .container-fluid {
      height: -webkit-calc(100% - 58px);
      height: -moz-calc(100% - 58px);
      height: calc(100% - 58px);
    }

    .sidebar {
      display: block;
    }
  }

  .selected-file-details {
    padding-left: 20px;
  }

  .item-extension::after {
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    content: attr(data-ext);
    left: 4px;
    position: absolute;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    top: 21px;
  }

  .selected .item-extension::after {
    color: #000;
  }

  .form-control.search-input {
    max-width: 20em;
    display: inline;
  }

  .like-code {
    display: inline;
  }

  .point {
    margin-right: 8px;
    font-size: 10px;
  }

  .navbar .btn.btn-flat {
    padding: 2px;
    width: 32px;
    height: 30px;
    margin-left: 5px;
  }

  .navbar-inverse .navbar-toggle .icon-bar {
    background: #fff;
  }

  .navbar-inverse .navbar-form input[type="text"] {
    color: #5E606B;
    box-shadow: none;
    margin: 0 10px;
  }

  .navbar .navbar-form {
    border-bottom: none;
    border-top: none;
    box-shadow: none;
    padding: 0;
    margin: 12px 0;
  }

  .breadcrumb {
    background: none;
    padding: 0;
    font-size: 17px;
    margin: 12px 0;
    overflow: hidden;
    max-height: 30px
  }

  .breadcrumb > .active, .breadcrumb a {
    color: #fff;
  }

  .breadcrumb > li + li:before {
    font-family: 'Glyphicons Halflings', fantasy;
    content: "\e080";
    font-size: 12px;
    color: #fff;
  }

  .scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
  }

  .btn.btn-flat {
    background: none;
    color: #fff;
  }

  .btn-group.open > .btn-flat, .btn.btn-flat, .btn.btn-flat:active {
    box-shadow: none;
  }

  .btn.btn-flat > i {
    font-size: 18px;
    width: 18px;
    height: 18px;
    line-height: 100%;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary.visited {
    background-color: #e82729 ! important
  }

  .btn-primary:active {
    background-image: radial-gradient(circle, #e82729 10%, #ef6c6d 11%)
  }

  .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 -2px 0 #e82729 ! important;
    box-shadow: inset 0 -2px 0 #e82729 ! important
  }

  .label-primary, .label-primary:hover, .label-primary:focus, .label-primary.visited {
    background-color: #e82729
  }

  .label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #e82729
  }

  input::-webkit-input-placeholder {
    color: #000 ! important;
  }

  input:-moz-placeholder {
    color: #000 ! important;
  }

  input::-moz-placeholder {
    color: #000 ! important;
  }

  input:-ms-input-placeholder {
    color: #000 ! important;
  }
}

#context-menu {
  position: absolute;
  display: none;
  z-index: 9999;
}

.dropdown-menu {
  font-size: 14px;
}

.dropdown-menu > li > a {
  padding: 6px 20px;
}

.dropdown-menu > li > a > i {
  margin-right: 4px;
}

.dropdown-menu.dropdown-right-click {
  display: block;
  position: static;
  margin-bottom: 5px;
}

.dropdown-menu.dropdown-right-click .divider {
  margin: 3px 0;
}

